* {
    padding: 0;
    margin: 0;
    
}

:root {
    --primary-color: #CC0135;
    --text-color: #6E6E6E;
     --white: #ffffff;
}


.access-bg {
    background: url('/images/s1.jpg');
    background-repeat: no-repeat;
    border-radius: none;
    height: 100vh;
}


.name-logo {
    color: var(--primary-color);
}
.sign-details {
    color: var(--text-color);
    padding: 0 60px;
    opacity: 0.9;
    /* font-family: 'Noto Sans', sans-serif; */
}
.s-style {
    font-family: 'Tinos', serif;
}
.h-color {
    color: var(--primary-color);
    font-family: 'Tinos', serif;
}

.a-style {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
}

.form-sty {
    display: block;
    width: 100%;
    padding: 0.475rem 0.85rem;
    font-size: 1    rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 12px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-sty:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgb(204, 1, 53);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(204, 1, 53, 0.25);
}

.btn-custom {
    background-color: var(--primary-color);
    font-family: 'Tinos', serif;
    color: var(--white);
    border: none;
    border-radius: 10px;
}

.btn-custom:hover {
    transform: translateY(-2px);
    opacity: 0.9;
    background-color: var(--primary-color);
    color: var(--white);
}

.pagination-dots {
  display: flex;
  justify-content: center;  /* center the dots horizontally */
  gap: 10px;                /* space between dots */
  margin-top: 20px;         /* optional spacing */
}

.pagination-dots .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;       /* makes it a circle */
  background-color: var(--text-color);   /* inactive color */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.pagination-dots .dot.active {
  background-color: var(--white); /* active color (your primary color) */
  /* transform: scale(1.3);     */
}


.l-dashboard {
    background-color: #FFFBFC;
    height: 100vh;
}